:root {
    --cor-roxo-principal: #6615F4;
    --cor-roxo-media: #9E0DEB;
    --cor-roxo-fraca:#9D6AE0;

    --cor-roxo-tom-fraco: #9D4FF0;
    --cor-padrao: #7613E0;
    --cor-secundaria: #000000;

    --cor-prateado: #DEDEDE;
    --cor-prateado-medio: #F8F6EC;
    --cor-prateado-medio-fraca: #F2F1F7;

}